
.teste{
  flex-direction: row;
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.flex-container{
    border-radius: 50%;
    width: 100px;
    height: 100px;
      
}


  .flex-container:hover {
    border-radius: 5px solid #fff;
    transform: scale(1.3); 
    box-shadow: 2px 3px 10px;
  }

  .Sagas{
    width: 100%;
    height: 20%;
  }
 
.texto{
  text-align: center; 
  margin-top: 13px;
  color: #fff;
}

.color-modal{
  color: #fff;
}

.color-modal:hover{
  color: black;
}

.multiverso{
  color: black;
}
.multiverso:hover{
  color: #fff;
}

.sony{
  color: black;
  font-weight: 600;
}

.btn-secondary{
  background-color: rgb(255, 12, 12);
}
.btn-secondary:hover{
  background-color: rgb(255, 65, 65);
}

/*membros */

.btn-primarybtn{
  background-color: #1266f1;
  color: #fff;
  width: 66px;
  margin-left: 7px;
}

.btn-primarybtn:hover{
  background-color: #023c98;
  color: #fff;
}
