
.Agents{
    background-color: rgb(63, 63, 110);
}
.Agents:hover{
    background-color: rgb(47, 47, 82)
}

.Carter{
    background-color: rgb(124, 124, 163);
}
.Carter:hover{
    background-color: rgb(92, 92, 119);
}

.Hulk{
    background-color: green;
}
.Hulk:hover{
    background-color: rgb(2, 102, 2);
}

.Marvel{
    background-color: rgb(91, 0, 0);
}
.Marvel:hover{
    background-color: rgb(58, 0, 0);
}

.Fugitivos{
    background-color: blueviolet;
}
.Fugitivos:hover{
    background-color: rgb(101, 34, 164);
}

.Manto{
    background-color: black;
}
.Manto:hover{
    background-color: rgb(30, 29, 29);
}

.Loki{
    background-color: rgb(4, 247, 4);
}
.Loki:hover{
    background-color: rgb(3, 200, 3);
}

.Wanda{
    background-color:rgb(45, 0, 0);
}
.Wanda:hover{
    background-color: rgb(30, 0, 0);
}

.Cavaleiro{
    background-color: #fff;
}
.Cavaleiro:hover{
    background-color: rgb(188, 188, 188);
}

.Jéssica{
    background-color:purple;
}
.Jéssica:hover{
    background-color: rgb(100, 6, 100);
}

.Luke{
    background-color: yellow;
}
.Luke:hover{
    background-color: rgb(180, 180, 3);
}

.Demolidor{
    background-color:red;
}
.Demolidor:hover{
    background-color: rgb(220, 1, 1);
}

.Punho{
    background-color: greenyellow;
}
.Punho:hover{
    background-color: rgb(123, 182, 34);
}

.Defensores{
    background-color:deepskyblue;
}
.Defensores:hover{
    background-color: rgb(0, 131, 174);
}

.Gavião{
    background-color: rgb(66, 0, 66);
}
.Gavião:hover{
    background-color: rgb(33, 0, 33);
}

.Echo{
    background-color:darkorange;
}
.Echo:hover{
    background-color: rgb(161, 89, 0);
}

.Agatha{
    background-color: rgb(55, 0, 55);
}
.Agatha:hover{
    background-color: rgb(35, 1, 35);
}

.Invasão{
    background-color:rgb(10, 42, 10);
}
.Invasão:hover{
    background-color: rgb(3, 104, 3);
}

.Coração{
    background-color: rgb(251, 39, 39);
}
.Coração:hover{
    background-color: rgb(255, 0, 0);
}

.Groot{
    background-color:rgb(153, 255, 0);
}
.Groot:hover{
    background-color: rgb(83, 138, 0);
}

.Guardiões{
    background-color: rgb(0, 255, 0);
}
.Guardiões:hover{
    background-color: rgb(0, 153, 0);
}

.Combate{
    background-color:rgb(33, 129, 254);
}
.Combate:hover{
    background-color: rgb(0, 89, 206);
}

.Lobisomem{
    background-color: rgb(50, 15, 15);
}
.Lobisomem:hover{
    background-color: rgb(93, 20, 20);
}

.Magnum{
    background-color:rgb(112, 0, 0);
}
.Magnum:hover{
    background-color: rgb(60, 0, 0);
}